@model IEnumerable<SCUTClubManager.Models.Asset>

@{
    ViewBag.Title = "AvailableAsset";
}

<h2>@ViewBag.Date @ViewBag.Time 的可借物资</h2>

<table>
    <tr>
        <th>
            名称
        </th>
        <th>
            可借数量
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
    </tr>
}

</table>
