@model SCUTClubManager.Models.Time

@{
    ViewBag.Title = "Calender";
}

<script>
    
    $(function () {
        var times = new Array();
        @foreach (var time in ViewBag.Times as SelectList)
        {
            @:times.push({ key: '@time.Text', value: '@time.Value' });
        }

         var item_contents = new Array(
             dropDownListFor("time_ids[0]", null, null, times));

         var unavailable_time_list = new DynamicList(item_contents, "#times", "", null, null, null, null, 1);

     })

    $(document).ready(function () {
        $("#cal").datepicker()
    });
</script>

<h2>按日期借用物资</h2>


@using (Html.BeginForm("AvailableAsset","Asset"))
{
<div>
    请输入日期:  <input id="cal" name="date" type="text"/>
</div>
<div id="times">
    请选择时间段:  
</div>

<input type="submit" value="查询"/>
}