@model SCUTClubManager.Models.Asset

@{
    ViewBag.Title = Model.Name + "详情";
}

<h2>@ViewBag.Title</h2>

    <div class="display-label">Count</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Count)
    </div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回", "Index")
</p>
