@model SCUTClubManager.Models.Application

<div class="ApplicationInfo">
        由 @LabelHelpers.GetFullName(Model.Applicant) 于 @Html.DisplayFor(model => model.Date) 申请， @LabelHelpers.GetStatus(Model.Status)
</div>

@if (Model.Status == "f")
{
    <div class="LabelForRejectReason">
        拒绝理由
    </div>
    <div class="RejectReason">
        @Html.DisplayFor(model => model.RejectReason)
    </div>
}