<script type="text/javascript">
    function confirmAjax(target, msg, url, param_name, callback) {
        $(target).click(function () {
            var source = this;

            $("#confirmWnd").text(msg);
            $("#confirmWnd").dialog({
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    "确认": function () {
                        var data = {};
                        data[param_name] = $(source).data(param_name);
                        debugger;
                        $.post(url, data, function (data) {
                            callback(data);
                            $("#confirmWnd").dialog("close");
                        });
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    }

    function deleteConfirmAjax(target, msg, url, item_prefix) {
        confirmAjax(target, msg, url, "id", function (data) {
            if (data.success == true) {
                if (item_prefix != null) {
                    $(item_prefix + data.idToDelete).fadeOut("slow");
                } else {
                    $("#row-" + data.idToDelete).fadeOut("slow");
                }
            }
        });
    }

    function confirm(target, msg, callback) {
        $(target).click(function (event) {
            event.preventDefault();

            $("#confirmWnd").text(msg);
            $("#confirmWnd").dialog({
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    "确认": function () {
                        callback();
                        $("#confirmWnd").dialog("close");
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    }

    function notify(target, msg, callback) {
        $(target).click(function (event) {
            event.preventDefault();

            $("#confirmWnd").text(msg);
            $("#confirmWnd").dialog({
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    "确认": function () {
                        callback();
                        $("#confirmWnd").dialog("close");
                    }
                }
            });
        });
    }

    function messageBox(msg, callback) {
        $("#confirmWnd").text(msg);
        $("#confirmWnd").dialog({
            resizable: false,
            height: 140,
            modal: true,
            buttons: {
                "确认": function () {
                    if (callback != null) {
                        callback();
                    }
                    $("#confirmWnd").dialog("close");
                }
            }
        });
    }
</script>

<div id="confirmWnd" hidden></div>