<script type="text/javascript">
    function confirmAjax(target, msg, url, param_name, callback) {
        $(target).click(function () {
            var source = this;
            var dialog = $("<div></div>");
            dialog.appendTo($("#confirmWnd"));

            dialog.text(msg);
            dialog.dialog({
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    "确认": function () {
                        var data = {};
                        data[param_name] = $(source).data(param_name);
                        
                        $.post(url, data, function (data) {
                            if (callback != null)
                                callback(data);
                            dialog.dialog("close");
                        });
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                } 
            });
        });
    }

    function deleteConfirmAjax(target, msg, url, item_prefix) {
        confirmAjax(target, msg, url, "id", function (data) {
            if (data.success == true) {
                if (item_prefix != null) {
                    $(item_prefix + data.idToDelete).fadeOut("slow");
                } else {
                    $("#row-" + data.idToDelete).fadeOut("slow");
                }
            }
        });
    }

    function confirm(target, msg, callback) {
        $(target).click(function (event) {
            event.preventDefault();
            var dialog = $("<div></div>");
            dialog.appendTo($("#confirmWnd"));

            dialog.text(msg);
            dialog.dialog({
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    "确认": function () {
                        callback();
                        dialog.dialog("close");
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    }

    function notify(target, msg, callback) {
        $(target).click(function (event) {
            event.preventDefault();
            var dialog = $("<div></div>");
            dialog.appendTo($("#confirmWnd"));

            dialog.text(msg);
            dialog.dialog({
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    "确认": function () {
                        callback();
                        dialog.dialog("close");
                    }
                }
            });
        });
    }

    function messageBox(msg, callback) {
        var dialog = $("<div></div>");
        dialog.appendTo($("#confirmWnd"));

        dialog.text(msg);
        dialog.dialog({
            resizable: false,
            height: 140,
            modal: true,
            buttons: {
                "确认": function () {
                    if (callback != null) {
                        callback();
                    }
                    $("#confirmWnd").dialog("close");
                }
            }
        });
    }

    function notify(data) {
        var dialog = $("<div></div>");
        dialog.appendTo($("#confirmWnd"));

        dialog.text(data.msg);
        dialog.dialog({
            resizable: false,
            width: 500,
            height: 200,
            modal: true,
            buttons: {
                "确认": function () {
                    if (data.success && data.url != null) {
                        document.location = data.url;
                    }

                    dialog.dialog("close");
                }
            }
        });
    }
</script>

<div id="confirmWnd" hidden></div>