@{
    Layout = null;
}

@model SCUTClubManager.Models.Event

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div>
        @Html.DisplayFor(model => model.Description.Description)
    </div>
</body>
</html>
